Repository tvarvaroi/gym-gurus: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix --no-warn-ignored, npx prettier --write

redesign: phase 9 — mobile-first Schedule page
  client/src/pages/SchedulePage.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

redesign: phases 10-13 — mobile-first Calculators, Settings, Nutrition, Generator
  client/src/pages/SettingsPage.tsx
  client/src/pages/premium-calculators/PremiumCalculatorsHub.tsx
  client/src/pages/solo/NutritionPlanner.tsx
  client/src/pages/solo/WorkoutGenerator.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

polish: systemic fixes — remove scale transforms, standardize headers, fix SVG viewBox
  client/src/components/LuxuryCard.tsx
  client/src/pages/ProgressPage.tsx
  client/src/pages/SchedulePage.tsx
  client/src/pages/WorkoutPlans.tsx
  client/src/pages/premium-calculators/PremiumCalculatorsHub.tsx
  client/src/pages/solo/AICoach.tsx
  client/src/pages/solo/Achievements.tsx
  client/src/pages/solo/NutritionPlanner.tsx
  client/src/pages/solo/Recovery.tsx
  client/src/pages/solo/WorkoutGenerator.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: dark theme stat cards on calculators + recovery label spacing
  client/src/pages/premium-calculators/PremiumCalculatorsHub.tsx
  client/src/pages/solo/Recovery.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: use darker bg-zinc-900/80 for calculator stat cards
  client/src/pages/premium-calculators/PremiumCalculatorsHub.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: dark input backgrounds + THIS WEEK card height mismatch
  client/src/components/solo-dashboard/WeeklyOverview.tsx
  client/src/components/ui/input.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: refine Input border to subtle white/8% for dark theme consistency
  client/src/components/ui/input.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

style: tighten dashboard spacing for better above-the-fold density
  client/src/pages/solo/SoloDashboard.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

style: premium polish batch 2 — AI Coach, Settings, rest timer, nutrition grid
  client/src/components/redesign/execution/RestTimerOverlay.tsx
  client/src/pages/SettingsPage.tsx
  client/src/pages/solo/AICoach.tsx
  client/src/pages/solo/NutritionPlanner.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

docs: add final verification screenshots (22 pages × 2 viewports)
  screenshots/final/01-dashboard-375.png
  screenshots/final/02-aicoach-375.png
  screenshots/final/03-generator-375.png
  screenshots/final/04-nutrition-375.png
  screenshots/final/05-workouts-375.png
  screenshots/final/06-progress-375.png
  screenshots/final/07-recovery-375.png
  screenshots/final/08-achievements-375.png
  screenshots/final/09-schedule-375.png
  screenshots/final/10-settings-375.png
  screenshots/final/11-calculators-375.png
  screenshots/final/12-dashboard-1440.png
  screenshots/final/13-aicoach-1440.png
  screenshots/final/14-settings-1440.png
  screenshots/final/15-calculators-1440.png
  screenshots/final/16-workouts-1440.png
  screenshots/final/17-progress-1440.png
  screenshots/final/18-recovery-1440.png
  screenshots/final/19-achievements-1440.png
  screenshots/final/20-schedule-1440.png
  screenshots/final/21-generator-1440.png
  screenshots/final/22-nutrition-1440.png
  screenshots/final/dashboard-375-full.png
  screenshots/final/dashboard-375-mid.png
  screenshots/final/dashboard-375-scrolled.png
  screenshots/final/dashboard-375.png
  screenshots/final/progress-375.png
  screenshots/final/recovery-375.png
  screenshots/final/schedule-375.png
  screenshots/final/settings-375.png
Due: none

fix: default dark theme to purple primary (Ronin is 90% of users)
  client/src/index.css
Due: none

fix: flatten layout shell — remove nested overflow-hidden and gradient wrapper
  client/src/App.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

refactor: migrate 9 pages to shared PageHeader component + fix dashboard density
  client/src/components/solo-dashboard/WeeklyOverview.tsx
  client/src/components/ui/premium/PageHeader.tsx
  client/src/pages/ProgressPage.tsx
  client/src/pages/SchedulePage.tsx
  client/src/pages/SettingsPage.tsx
  client/src/pages/WorkoutPlans.tsx
  client/src/pages/premium-calculators/PremiumCalculatorsHub.tsx
  client/src/pages/solo/AICoach.tsx
  client/src/pages/solo/Achievements.tsx
  client/src/pages/solo/NutritionPlanner.tsx
  client/src/pages/solo/Recovery.tsx
  client/src/pages/solo/SoloDashboard.tsx
  client/src/pages/solo/WorkoutGenerator.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

docs: add cherry-pick verification screenshots (12 pages at 375px)
  screenshots/cherry-pick/01-dashboard-375.png
  screenshots/cherry-pick/02-aicoach-375.png
  screenshots/cherry-pick/03-generator-375.png
  screenshots/cherry-pick/04-nutrition-375.png
  screenshots/cherry-pick/05-workouts-375.png
  screenshots/cherry-pick/06-progress-375.png
  screenshots/cherry-pick/07-recovery-375.png
  screenshots/cherry-pick/08-achievements-375.png
  screenshots/cherry-pick/09-schedule-375.png
  screenshots/cherry-pick/10-settings-375.png
  screenshots/cherry-pick/11-calculators-375.png
  screenshots/cherry-pick/12-dashboard-fullpage-375.png
Due: none

fix: visual QA fixes across mobile and desktop
  client/src/App.tsx
  client/src/components/redesign/dashboard/WidgetScroller.tsx
  client/src/components/solo-dashboard/WeeklyOverview.tsx
  client/src/pages/solo/Achievements.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: increase hero profile photo size and spacing on mobile
  client/src/components/redesign/dashboard/MobileHero.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: 20 issues from Chrome visual audit
  client/src/components/AppSidebar.tsx
  client/src/components/NotificationCenter.tsx
  client/src/components/redesign/dashboard/ActionZone.tsx
  client/src/components/redesign/dashboard/MobileHero.tsx
  client/src/components/solo-dashboard/BodyIntelligencePanel.tsx
  client/src/components/solo-dashboard/WeeklyOverview.tsx
  client/src/index.css
  client/src/pages/SchedulePage.tsx
  client/src/pages/premium-calculators/PremiumBMICalc.tsx
  client/src/pages/premium-calculators/PremiumCalculatorsHub.tsx
  client/src/pages/solo/Achievements.tsx
  server/services/gamification/achievementService.ts
  server/services/notificationService.ts
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: 20 mobile-specific issues from Chrome visual audit
  client/src/components/Footer.tsx
  client/src/components/NotificationCenter.tsx
  client/src/components/layout/AppHeader.tsx
  client/src/components/layout/MobileBottomNav.tsx
  client/src/components/redesign/dashboard/MobileHero.tsx
  client/src/components/redesign/dashboard/QuickStats.tsx
  client/src/components/redesign/dashboard/WidgetScroller.tsx
  client/src/components/solo-dashboard/BodyIntelligencePanel.tsx
  client/src/components/solo-dashboard/RecentActivityFeed.tsx
  client/src/components/solo-dashboard/TodaysActionZone.tsx
  client/src/components/solo-dashboard/WeeklyOverview.tsx
  client/src/index.css
  client/src/pages/SettingsPage.tsx
  client/src/pages/solo/AICoach.tsx
  client/src/pages/solo/Achievements.tsx
  client/src/pages/solo/Recovery.tsx
  client/src/pages/solo/SoloDashboard.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: add deleted_at and height/weight type migrations to startup runner
  server/index.ts
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: four UX/design quick wins (§ DS-2, UX-4, VA-14, VA-3)
  CLAUDE.md
  client/src/components/AppShell.tsx
  client/src/components/AuthGuard.tsx
  client/src/components/landing/pages/LoginCarouselPage.tsx
  client/src/index.css
  client/src/pages/auth/LoginPage.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

chore: delete debug screenshots from attached_assets
  attached_assets/clients_missing.png
  attached_assets/current_video_state_and_active_category.png
  attached_assets/final-video-background.png
Due: none

docs: enforce full skills inventory across all three skill locations in pre-task ritual
  CLAUDE.md
Due: npx prettier --write

fix: apply ui-ux-pro-max checklist fixes to landing nav
  client/src/components/landing/LandingHeader.tsx
  client/src/pages/LandingPage.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

docs: add full 139+ skill inventory across all 4 locations to CLAUDE.md
  CLAUDE.md
Due: npx prettier --write

docs: add dedicated Design & Frontend Skills section to CLAUDE.md
  CLAUDE.md
Due: npx prettier --write

fix: SELECT 1 health check + eliminate role CSS flash (§ UX-3)
  CLAUDE.md
  SKILLS.md
  client/index.html
  client/src/components/AuthGuard.tsx
  server/storage.ts
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

feat: add empty states with RoninIcon across 5 Ronin pages (§ UX-5 + § DS-6)
  CLAUDE.md
  client/src/pages/ProgressPage.tsx
  client/src/pages/SchedulePage.tsx
  client/src/pages/WorkoutPlans.tsx
  client/src/pages/solo/AICoach.tsx
  client/src/pages/solo/Achievements.tsx
  docs/plans/2026-03-09-ux5-empty-states.md
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

feat: add empty states for Guru and Disciple roles (§ UX-5b)
  CLAUDE.md
  client/src/components/WeeklyWorkoutView.tsx
  client/src/pages/ClientDetailsPage.tsx
  client/src/pages/ClientsPage.tsx
  client/src/pages/ExercisesPage.tsx
  client/src/pages/PaymentsPage.tsx
  client/src/pages/ProgressPage.tsx
  client/src/pages/SchedulePage.tsx
  docs/plans/2026-03-09-ux5b-empty-states-guru-disciple.md
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: resolve three bugs from visual audit
  client/src/components/ClientFormModal.tsx
  client/src/pages/ClientsPage.tsx
  client/src/pages/ProgressPage.tsx
  client/src/pages/solo/Achievements.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: resolve Disciple schedule 404 — add /api/appointments/me route
  client/src/pages/SchedulePage.tsx
  server/routes.ts
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

chore: trigger Railway rebuild for appointments/me route
  server/routes.ts
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

perf: remove framer-motion from 28 files (§ FE-7 partial)
  CLAUDE.md
  client/src/components/LoadingFallback.tsx
  client/src/components/RouterConfig.tsx
  client/src/pages/calculators/BMICalc.tsx
  client/src/pages/calculators/BodyFatCalc.tsx
  client/src/pages/calculators/CalculatorsHub.tsx
  client/src/pages/calculators/CaloriesBurnedCalc.tsx
  client/src/pages/calculators/HeartRateZonesCalc.tsx
  client/src/pages/calculators/IdealWeightCalc.tsx
  client/src/pages/calculators/MacroCalc.tsx
  client/src/pages/calculators/OneRepMaxCalc.tsx
  client/src/pages/calculators/PlatesCalc.tsx
  client/src/pages/calculators/StrengthStandardsCalc.tsx
  client/src/pages/calculators/TDEECalc.tsx
  client/src/pages/calculators/VO2MaxCalc.tsx
  client/src/pages/calculators/WaterIntakeCalc.tsx
  client/src/pages/premium-calculators/Premium1RMCalc.tsx
  client/src/pages/premium-calculators/PremiumBMICalc.tsx
  client/src/pages/premium-calculators/PremiumBodyFatCalc.tsx
  client/src/pages/premium-calculators/PremiumCalculatorsHub.tsx
  client/src/pages/premium-calculators/PremiumCaloriesBurnedCalc.tsx
  client/src/pages/premium-calculators/PremiumHeartRateZonesCalc.tsx
  client/src/pages/premium-calculators/PremiumIdealWeightCalc.tsx
  client/src/pages/premium-calculators/PremiumMacroCalc.tsx
  client/src/pages/premium-calculators/PremiumPlatesCalc.tsx
  client/src/pages/premium-calculators/PremiumStrengthStandardsCalc.tsx
  client/src/pages/premium-calculators/PremiumTDEECalc.tsx
  client/src/pages/premium-calculators/PremiumVO2MaxCalc.tsx
  client/src/pages/premium-calculators/PremiumWaterIntakeCalc.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: resolve 6 post-audit issues — §BE-7, §VA-4b, §SEC-5, H-5, H-6, H-7
  CLAUDE.md
  client/index.html
  client/src/components/Dashboard.tsx
  client/src/pages/SettingsPage.tsx
  client/src/pages/auth/LoginPage.tsx
  client/src/pages/calculators/CalculatorsHub.tsx
  client/src/pages/calculators/MacroCalc.tsx
  client/src/pages/calculators/TDEECalc.tsx
  client/src/pages/calculators/WaterIntakeCalc.tsx
  client/src/pages/premium-calculators/PremiumMacroCalc.tsx
  client/src/pages/premium-calculators/PremiumWaterIntakeCalc.tsx
  server/index.ts
  server/vite.ts
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: resolve 4 visual layout breaks on dashboard and recovery
  client/src/components/redesign/dashboard/MobileHero.tsx
  client/src/components/solo-dashboard/WeeklyOverview.tsx
  client/src/pages/solo/Recovery.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

docs: add layout anti-patterns rule from visual audit quality pass
  CLAUDE.md
Due: npx prettier --write

fix: hero photo rising-out effect — fix top clip and increase photo size
  client/src/components/redesign/dashboard/MobileHero.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: reduce hero section vertical space — tighter min-h and pb
  client/src/components/redesign/dashboard/MobileHero.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

fix: photo tip 2px from top, Change badge emerges from photo bottom edge
  client/src/components/redesign/dashboard/MobileHero.tsx
Due: npx eslint --fix --no-warn-ignored, npx prettier --write

Path conditions:
  npx eslint --fix --no-warn-ignored: any of: *.{ts,tsx}
  npx prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md})
